<!DOCTYPE html>
<html lang="en">

<head>
    <!--Links to Google fonts used on this webpage-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" 
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" 
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" 
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" 
        rel="stylesheet"> 

    <!--Linked CSS stylesheet file & Bootstrap-->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
          rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/
				bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/def_page.css') }}"
          type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style1.css') }}"
          type="text/css" rel="stylesheet" id="style-var">
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/def_page.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/CDL.js') }}"></script>
    
    <meta charset="UTF-8">
    <title>Curtis' test website</title>
</head>

<body>

    <ul id="Navbar">
        <a href="/"> <li class="Horiz_list">Home</li> </a>
        <a href="/experience"> <li class="Horiz_list">Experience</li> </a>
        <a href="/contact_me"> <li class="Horiz_list">Contact Me</li> </a>
        <a href="/CD-L"> <li class="Horiz_list">CD-L</li> </a>
        <a href="/parallax_test"> <li class="Horiz_list">Parallax Test</li> </a>
    </ul>

    <div class="division padding-top">
        <h1 class="header">Crypto Down-Low</h1>
        
        <div class="slide1">
            <h2 class="slide1-para paragraph para_reg">
                <p class="slide1-title section-title">ADA - Cardano/Ada</p>
                    <p>
                        Cardano is a blockchain platform made for running
                        financial applications for individual, organizational,
                        and government use around the world. The platform is
                        constructed in multiple layers to allow for easy
                        maintenance & upgradability. Examples of different
                        layers include the settlement layer that will run the
                        Ada cryptocurrency & the computation layer that will
                        handle running the smart contracts. Cardano aims to
                        balance the needs of users & regulators alike, while
                        combining privacy with regulation, and open up
                        financial services to all people everywhere. Read up
                        more on the mission of Cardano on their website
                        <a href="https://whycardano.com/">
                            here.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/ADA:
                        <span id="ADA"></span>
                    </p>

                <p class="slide1-title section-title">ADT - adToken/adChain</p>
                    <p> adChain is a company that is set out to end fraudulent
                        clicks generated by bots on online advertisements. 
                        False revenue from fake ad clicks totals in the 
                        billions of US dollars, per year. The proposed solution
                        is the adChain Registry: an Ethereum-based smart 
                        contract containing a collection of approved website 
                        domains. The domains are added to the Registry by their
                        owners along with an adToken deposit, after which they 
                        are then voted upon by adToken holders to confirm the 
                        domain's legitimacy. The full whitepaper can be found 
                        <a href="https://adtoken.com/uploads/white-paper.pdf">
                            here.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/ADT:
                        <span id="ADT"></span>
                    </p>

                <p class="slide1-title section-title">ARK - Ark</p>
                    <p> The goal of the Ark ecosystem is to implement a system
                        that increases the usage of cryptocurrency among the 
                        masses. All major blockchains will be unified through
                        Ark, which will enable simplified cross-chain 
                        transactions & increase liquidity of funds held in 
                        cryptocurrency. Ark plans to make blockchain adoption
                        seamless & self-sustaining, following security &
                        privacy protocol all along the development cycle. Click
                        <a href="https://ark.io/Whitepaper.pdf">
                            here
                        </a>
                        to read the official Ark whitepaper.
                        
                    </p><br>
                    <p class="para_no_indent"> Current USD/ARK:
                        <span id="ARK"></span>
                    </p>

                <p class="slide1-title section-title">BTC - Bitcoin</p>
                    <p> 
                        Bitcoin is the most widely-known cryptocurrency in the
                        world. Created back in January of 2009, Bitcoin 
                        introduced the concepts of the 'blockchain' and 
                        decentralized networks. A blockchain is a ledger that 
                        chronologically stores a collection of all transactions
                        made for a cryptocurrency. The decentralization comes 
                        into play with the nodes that are connected to the 
                        network - each node has it's own copy of the blockchain
                        and participates in confirming each transaction that 
                        occurs on the network. Each node on the Bitcoin network
                        must follow consensus rules in order to participate on 
                        the blockchain. The goal of Bitcoin (and cryptocurrency
                        as a whole) is to create an ecosystem of secure, fast, 
                        and transparent financial transactions & data storage 
                        options. The original Bitcoin whitepaper can be found 
                        <a href="https://bitcoin.org/bitcoin.pdf">
                            here.
                        </a>
                        
                    </p><br>
                    <p class="para_no_indent"> Current USD/BTC:
                        <span id="BTC"></span>
                    </p>

                <p class="slide1-title section-title">BCH - Bitcoin Cash</p>
                    <p> 
                        Bitcoin Cash (BCC) was created when the Bitcoin network 
                        went through a hard fork in August 2017 to accomodate a
                        new set of consensus rules. BCC continues to follow the
                        original set of rules, while Bitcoin adapted a new 
                        guideline that it continues to follow today. BCC does 
                        not have its own whitepaper, but rather it is based off
                        of the original from Bitcoin - found 
                        <a href="https://bitcoin.org/bitcoin.pdf">
                            here.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/BCH:
                        <span id="BCH"></span>
                    </p>

                <p class="slide1-title section-title">BCN - Bytecoin</p>
                    <p> 
                        Bytecoin is another cryptocurrency that takes pride in
                        being secure, decentralized, and untraceable. Private
                        transactions across the Bytecoin platform are speedy
                        and require no additional fees. Being situated on the
                        internet, Bytecoin claims to be "international by 
                        default", which adds another benefit over fiat currency
                        that is commonly bound to a specified region of the 
                        world. You can read up a little more over on 
                        <a href="https://bytecoin.org/about/what-is-bytecoin">
                            Bytecoin's website
                        </a>
                        about their mission as a cryptocurrency & their plans
                        on growing for consumers & businesses alike.
                        
                    </p><br>
                    <p class="para_no_indent"> Current USD/BCN:
                        <span id="BCN"></span>
                    </p>

                <p class="slide1-title section-title">DASH - Dash</p>
                    <p> 
                        Dash is one of the leaders of privacy-driven 
                        cryptocurrencies. It is the first coin based off the
                        Bitcoin blockchain that provides untraceability through
                        Darksend. Darksend is a protocol that sets out to 
                        increase privacy & fungibility of Dash while keeping
                        auditing capabilities. Another unique security method
                        implemented by Dash is the use of the Masternode 
                        Network - a secondary network of nodes that increases 
                        availability of the blockchain. This solution is in 
                        place to remedy the lack of full nodes currently active
                        on the network due to higher costs & power usage. Each
                        masternode is required to hold 1000 DASH minimum, and 
                        they are paid dividends for providing services to 
                        clients on the network. Click 
                        <a href="https://www.dash.org/wp-content/uploads/
								2015/04/Dash-WhitepaperV1.pdf">
                            here
                        </a>
                        to read more about Dash in the company's whitepaper.
                    </p><br>
                    <p class="para_no_indent"> Current USD/DASH:
                        <span id="DASH"></span>
                    </p>

                <p class="slide1-title section-title">ETH - Ethereum/Ether</p>
                    <p> 
                        Ethereum is currently the second largest cryptocurrency
                        platform in the world, right behind Bitcoin. These 
                        platforms are considered 'decentralized' because each
                        node that is connected to the network acts as a ledger
                        & holds its own complete copy of the blockchain. The 
                        main difference between the two, however, is that 
                        Ethereum is an entirely new platform to develop 
                        applications for and carry out transactions on. The 
                        platform utilizes Dapps (decentralized applications) 
                        that use 'smart contracts' to execute transactions. 
                        Smart contracts are agreements among Ethereum addresses
                        that carry out certain functionality or transactions 
                        and terminate upon completion. In order to carry out 
                        these contracts, Ethereum uses a currency, or 'gas', 
                        called Ether as payment for executing the contract. 
                        This Ether can be 'mined' on the network, meaning that
                        the nodes can run complex computations on the network, 
                        confirm transactions that have occurred, and receive
                        payouts in Ether. Read up more about the Ethereum 
                        platform and the team's mission in the whitepaper 
                        <a href="https://github.com/ethereum/wiki/
								wiki/White-Paper#ethereum">
                            here.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/ETH:
                        <span id="ETH"></span>
                    </p>

                <p class="slide1-title section-title">ETC - Ethereum Classic</p>
                    <p> 
                        Ethereum Classic is the result of a hard fork in the
                        Ethereum blockchain protocol. Classic retains the
                        original, unaltered consensus procedure, while the
                        current iteration of Ethereum has updated standards
                        and operates in a different manner. The fork was
                        brought about when approximately 20% of stakeholders
                        and miners refused to follow the requested updates and
                        opted to stay true to the original, thus spawning
                        Ethereum 'Classic'. Ethereum & Classic are rooted in
                        firm beliefs in censorship-resistance and decentralized
                        blockchains. They also strive for zero-trust
                        relationships - that is, no trust needs to be placed in
                        any third party to keep transactions and contracts
                        secure. It will be known that the transactions are
                        unhackable and cannot be altered in any way by an
                        outside party. Ethereum Classic has the ultimate goal
                        of becoming a 'world computer' that cannot be shut
                        down and holds smart contracts that are irreversible
                        upon creation. Jump on over to
                        <a href="https://coss.io/documents/white-papers/
								ethereum-classic.pdf">
                            this page
                        </a>
                        to get a much, much more detailed look behind the goals
                        & implementation of Ethereum Classic.
                    </p><br>
                    <p class="para_no_indent"> Current USD/ETC:
                        <span id="ETC"></span>
                    </p>

                <p class="slide1-title section-title">GAS - Gas</p>
                    <p> 
                        Formerly known as 'Antcoins', Gas is the cryptocurrency
                        used on the Neo blockchain to call & execute smart
                        contracts or make transactions between addresses.
                        Gas is required as a fee to call certain instructions
                        & system calls in smart contracts as well. Since Neo is
                        an indivisible share in the ownership of the company,
                        Neo holders get paid out dividends in Gas depending on
                        how much Neo is held. To get more information on Gas &
                        Neo, check out the company's whitepaper
                        <a href="http://docs.neo.org/en-us/node/
								introduction.html">
                            here.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/GAS:
                        <span id="GAS"></span>
                    </p>

                <p class="slide1-title section-title">HSR - HCash/HShare</p>
                    <p> HyperCash (HCash) is a decentralized currency that links
                        block-based (i.e. Bitcoin) & blockless-based
                        (transactions processed in parallel rather than
                        sequentially) systems. The goal of HCash is to create a
                        new platform that will act as a connecting point for all
                        blockchain systems, block-based & blockless. It follows
                        a hybrid Proof-of-Work (PoW) & Proof-of-Stake (PoS)
                        model. Mined blocks contain a header & the miner's
                        reward rather than any transaction data. Based on this
                        header's information, random validators (miners) are
                        selected to sign the block based on the amount of coins
                        they hold (more coins = greater chance for selection).
                        Once a block is signed, it is completed & added to the
                        blockchain. The whitepaper can be downloaded as a PDF
                        file
                        <a href="https://h.cash/themes/en/dist/pdf/
								Hcash+Whitepaper+V0.8.1.pdf">
                            here
                        </a>
                        to provide more information.
                    </p><br>
                    <p class="para_no_indent"> Current USD/HSR:
                        <span id="HSR"></span>
                    </p>

                <p class="slide1-title section-title">LSK - Lisk</p>
                    <p>
                        The Lisk platform offers its own custom blockchain,
                        smart contracts, cloud storage, and computing nodes.
                        It was created to be as friendly to new developers as
                        possible. The Dapps built on the platform are written in
                        Node.JS, so former JavaScript developers need no
                        additional skills in order to begin developing for Lisk.
                        The platform allows for peer-to-peer hosting & storage
                        of Dapps, decentralized computing, sidechain consensus,
                        Lisk & Bitcoin APIs, and specialized developer tools,
                        called Lisk CLI & Lisk Dapp SDK. All Dapps created for
                        the Lisk ecosystem are run through the Lisk Node runtime
                        environment. Visit
                        <a href="https://github.com/slasheks/lisk-whitepaper/
								blob/development/LiskWhitepaper.md">
                            this link
                        </a>
                        to read up more about the Lisk platform.
                    </p><br>
                    <p class="para_no_indent"> Current USD/LSK:
                        <span id="LSK"></span>
                    </p>

                <p class="slide1-title section-title">LTC - Litecoin</p>
                    <p> 
                        Often called the "silver" to Bitcoin's "gold, Litecoin
                        (LTC) is one of the higher market cap coins on the
                        market. Essentially, LTC is a clone of Bitcoin in terms
                        of decentralization & purpose. However, LTC improves on
                        Bitcoin in a few ways. First, LTC has a more rapid
                        development process - updates to the code are made more
                        frequently. Second, transactions are greatly improved
                        with faster execution speeds & lower costs. Finally, the
                        LTC blockchain makes storage more efficient, allowing
                        for easier access to information stored there. It is
                        also capable of handling higher trade volume than the
                        Bitcoin blockchain, allowing for increased liquidity and
                        ease of transaction execution. In terms of mining, each
                        LTC block currently pays out a total of 25 LTC to the
                        miners. This number is halved every 4 years (840,000
                        blocks), and is planned to cap out at 84 million coins.
                        Litecoin has released no formal whitepaper, as it is so
                        similar to that of Bitcoin, but you can visit the
                        company's website
                        <a href="https://litecoin.org/">
                            here
                        </a>
                        for some more information.
                    </p><br>
                <p class="para_no_indent"> Current USD/LTC:
                        <span id="LTC"></span>
                    </p>

                <p class="slide1-title section-title">NEO - Neo</p>
                    <p> 
                        Often labeled the 'Chinese Ethereum', Neo, formerly
                        known as 'Antshares', sets out to create a new
                        decentralized platform to store information, carry out
                        transactions, run dapps, and do whatever else the
                        blockchain will be capable of in the future. Neo
                        utilizes its own variation of the smart contract: the
                        NeoContract. These contracts are programmed in widely
                        used languages, such as C#, Java, Python, and many more.
                        The goal is to bring as many developers onto the
                        blockchain as possible in order to help Neo grow &
                        obtain more relevant usage in the world. Neo is poised
                        to lead Asia into the crypto world through its
                        blockchain technology & help decentralized financial
                        transactions become the new normal. For more details on
                        Neo & Gas, read up on the whitepaper
                        <a href="http://docs.neo.org/en-us/node/
								introduction.html">
                            here.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/NEO:
                        <span id="NEO"></span>
                    </p>

                <p class="slide1-title section-title">OMG - OmiseGo</p>
                    <p> 
                        OmiseGO (OMG) is an ERC20 token that is built on the
                        Ethereum platform. The main goal of OMG is to increase
                        cross-platform liquidity & resolve payments across
                        various networks in order to make money more easily
                        accessible. The OMG blockchain sets to bond each eWallet
                        platform (Venmo, Alipay, etc.) with Ethereum to provide
                        a reassuring increase in cross-chain coordination &
                        trust advantages in judgments made by the blockchain
                        (confirmed transactions, etc.). Each platform that will
                        be connected to OMG will hold its own fiat currency for
                        backing & speedy offline transactions. OmiseGO also
                        plans to utilize a separate decentralized hub, known as
                        the Lightning Network, that is not run by one single
                        currency & acts as a gateway from one blockchain (i.e.
                        Bitcoin) to OmiseGO, or other blockchains. The Lightning
                        Network will come with the added benefit of offloading
                        activity from the main OMG blockchain. Read up more on
                        the plans Omise has for OMG in the whitepaper
                        <a href="https://cdn.omise.co/omg/whitepaper.pdf">
                            here.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/OMG:
                        <span id="OMG"></span>
                    </p>

                <p class="slide1-title section-title">PAY - TenX</p>
                    <p>
                        [insert synopsis here]
                        <a href="#">
                            WHITEPAPER
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/PAY:
                        <span id="PAY"></span>
                    </p>

                <p class="slide1-title section-title">QTUM - Qtum</p>
                    <p> 
                        [insert synopsis here]
                        <a href="#">
                            WHITEPAPER
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/QTUM:
                        <span id="QTUM"></span>
                    </p>

                <p class="slide1-title section-title">SC - Sia/Siacoin</p>
                    <p> 
                        The cloud file storage company, Sia, is on a mission to
                        implement a cheaper, decentralized cloud storage 
                        alternative to the likes of Amazon, Dropbox, & Google.
                        Rather than having the user rent storage space from one
                        centralized provider, Sia will allow users to rent out 
                        their own personal storage devices to other users on 
                        the Sia network. The system will run through smart 
                        contracts that will keep track of the host, renter, and
                        amount of data to be stored. The smart contracts are 
                        paid for with Sia's own Siacoin currency, which will be
                        used to enforce contracts & require hosts to submit 
                        proofs of storage. The network will also use its own
                        blockchain technology that is proposed to be similar to
                        that of Bitcoin, but with reduced complexity and attack
                        surface (vulnerabilities). To read up more on Sia & 
                        Siacoin, take a look at the whitepaper 
                        <a href="https://www.sia.tech/whitepaper.pdf">
                            here.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/SC:
                        <span id="SC"></span>
                    </p>

                <p class="slide1-title section-title">STEEM - Steem</p>
                    <p> 
                        [insert synopsis here]
                        <a href="#">
                            WHITEPAPER
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/STEEM:
                        <span id="STEEM"></span>
                    </p>

                <p class="slide1-title section-title">STRAT - Stratis</p>
                    <p> 
                        [insert synopsis here]
                        <a href="#">
                            WHITEPAPER
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/STRAT:
                        <span id="STRAT"></span>
                    </p>

                <p class="slide1-title section-title">WAVES - Waves</p>
                    <p> 
                        [insert Kid Cudi hums here]
                        <a href="#">
                            WHITEPAPER
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/WAVES:
                        <span id="WAVES"></span>
                    </p>

                <p class="slide1-title section-title">XEM - NEM</p>
                    <p>
                        [insert synopsis here]
                        <a href="#">
                            WHITEPAPER
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/XEM:
                        <span id="XEM"></span>
                    </p>

                <p class="slide1-title section-title">XLM - Stellar/Lumens</p>
                    <p>
                        Stellar is set out to prove that it's consensus
                        protocol is the most secure in all of crypto. Titled
                        the 'Stellar Consensus Protocol' (SCP), it aims to
                        achieve "robustness through quorum slices". A quorum is
                        a set of nodes on the network that can provide
                        sufficient confirmation that an assertion call truly
                        occurred at some point. A quorum 'slice' is a subset of
                        a quorum that can provide confirmation for one single
                        inquiring node. The usage of quorum slices to confirm
                        events is meant to prevent the blockchain from being
                        manipulated by malicious outside activity. The SCP
                        follows a new consensus model, titled the Federated
                        Byzantine Agreement (FBA), which provides decentralized
                        control, low latency with transactions, freedom to
                        place trust in any third parties, and air-tight
                        security based on digital signatures and hash families.
                        Feel free to read more about the logic & algorithms
                        behind it all in
                        <a href="https://www.stellar.org/papers/
								stellar-consensus-protocol.pdf">
                            this whitepaper.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/XLM:
                        <span id="XLM"></span>
                    </p>

                <p class="slide1-title section-title">XMR - Monero</p>
                    <p>
                        [insert synopsis here]
                        <a href="https://lab.getmonero.org/pubs/MRL-0001.pdf">
                            WHITEPAPER
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/XMR:
                        <span id="XMR"></span>
                    </p>

                <p class="slide1-title section-title">XRP - Ripple</p>
                    <p>
                        Ripple is a company that is taking aim at today's
                        banking & international spending situation in the
                        world. Cross-border transactions bring about lengthy
                        processing times, high settlement costs, and an overall
                        poor customer experience. Through the new RippleNet
                        network, Ripple aims to better connect banks (&
                        consumers, too) across the world by increasing
                        transaction speeds, lowering / removing associated
                        costs, and increasing transparency. Jump
                        <a href="https://ripple.com/files/
								ripple_solutions_guide.pdf">
                            here
                        </a>
                        to read the full plan in Ripple's whitepaper.
                    </p><br>
                    <p class="para_no_indent"> Current USD/XRP:
                        <span id="XRP"></span>
                    </p>

                <p class="slide1-title section-title">ZEC - ZCash</p>
                    <p> 
                        [insert synopsis here]
                        <a href="#">
                            WHITEPAPER
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/ZEC:
                        <span id="ZEC"></span>
                    </p>

                <p class="slide1-title section-title">ZEN - ZenCash</p>
                    <p> 
                        There are quite a few cryptocurrencies that pride
                        themselves on their untraceability, with ZenCash being
                        one of the lesser known coins. Starting as a branch of
                        ZCash, ZenCash is built on the idea that every 
                        individual has the human rights of property ownership,
                        privacy, free association, and access to information.
                        One goal that it aims for is to become 100% anonymous;
                        transactions will become entirely untraceable through
                        end-to-end encryption. The system uses a distributed 
                        blockchain implementation to "provide the latest 
                        censorship-evading techniques, fully encrypted 
                        communications", and a roadmap for providing future
                        sustainability. Another goal of ZenCash is to help 
                        those in unfavorable conditions to obtain access to 
                        vital services, i.e. healthcare & banking, in order to
                        bring about moral progress by means of the blockchain.
                        Read up more on ZenCash's mission and future plans in 
                        the company's
                        <a href="https://bravenewcoin.com/assets/Whitepapers/
								Zen-White-Paper.pdf">
						whitepaper.
                        </a>
                    </p><br>
                    <p class="para_no_indent"> Current USD/ZEN:
                        <span id="ZEN"></span>
                    </p>
            </h2>
        </div>
    </div>    

</body>
</html>