<!DOCTYPE html>
<html lang="en">

<head>
    <!--Links to Google fonts used on this webpage-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat"
		  rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu"
		  rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora"
		  rel="stylesheet">

    <!--Linked CSS stylesheet file & Bootstrap-->
    <script type="text/javascript"
			src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
		  rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/
				bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/def_page.css') }}"
		  type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static',
    			 filename='js/def_page_parallax.js') }}"></script>
    
    <meta charset="UTF-8">
    <title>Curtis' test website</title>
</head>

<body class="parallax-body">

    <ul id="Navbar">
        <a href="/"> <li class="Horiz_list">Home</li> </a>
        <a href="/experience"> <li class="Horiz_list">Experience</li> </a>
        <a href="/contact_me"> <li class="Horiz_list">Contact Me</li> </a>
        <a href="/CD-L"> <li class="Horiz_list">CD-L</li> </a>
        <a href="/parallax_test"> <li class="Horiz_list">Parallax Test</li> </a>
    </ul>
    
    <div class="padding-top"></div>
    <div class="parallax1">
        <h1 class="header header-parallax"> This is the parallax test page!</h1>
    </div>
    
    <div class="parallax2">
        <div class="para-back">
            <h2 class="paragraph para_reg para_no_border">
                <img class="Bunwave" src="{{ url_for('static',
                						 filename='resources/BunWave.png') }}">
                <p>
                    Here in this paragraph, I will just type some random
				nonsense and demonstrate some small understanding of HTML/CSS.
				In fact, I'm going to make this paragraph MUCH longer than I
				originally intended so that I can make easier work of fixing the
                image resizing problem that I am currently having with this
				website!
                </p>
            </h2>
        </div>
    </div>

    <div class="parallax1">
        <div class="para-back">
            <h2 class="paragraph para_reg para_no_border">
                <img class="Bunwave" src="{{ url_for('static',
                						 filename='resources/BunWave.png') }}">
                <p>
                    This is the second paragraph. There isn't a whole bunch of
				content that I was going to write here, so instead I've picked
				to ramble endlessly to make the paragraph look bigger, yet have
				no real purpose. Again, this is purely for some testing
				purposes, so it will look pretty silly to start off!
                </p>
            </h2>
        </div>
    </div>

    <div class="parallax2">
        <div class="para-back">
            <h2 class="paragraph para_reg para_no_border">
                <img class="Bunwave" src="{{ url_for('static',
                filename='resources/BunWave.png') }}">
                <p>
                    Third paragraph, here we are! Now, this one is mainly a
				filler paragraph just so that I can test out all sorts of color
				schemes on the main page. I'm thinking that there will only be
				three different color styles to choose from, but I guess we'll
				find out as I continue building the site!
                </p>
            </h2>
        </div>
    </div>

</body>
</html>